[submodule "src/clibasewrapper"]
	path = src/clibasewrapper
	url = git@github.com:treadstoneproject/clibasewrapper.git
[submodule "src/filestructure"]
	path = src/filestructure
	url = git@github.com:treadstoneproject/filestructure.git
[submodule "src/tbbscan"]
	path = src/tbbscan
	url = git@github.com:treadstoneproject/tbbscan.git
[submodule "src/thrustscan"]
	path = src/thrustscan
	url = git@github.com:treadstoneproject/thrustscan.git
[submodule "src/gensign"]
	path = src/gensign
	url = git@github.com:treadstoneproject/gensign.git
[submodule "src/internet/scan_client"]
	path = src/internet/scan_client
	url = git@github.com:treadstoneproject/scan_client.git
[submodule "src/internet/scan_gateway"]
	path = src/internet/scan_gateway
	url = git@github.com:treadstoneproject/scan_gateway.git
