[submodule "src/clibasewrapper"]
	path = src/clibasewrapper
	url = git@github.com:Chatsiri/clibasewrapper.git
[submodule "src/tbbscan"]
	path = src/tbbscan
	url = git@github.com:treadstoneproject/tbbscan.git
[submodule "src/filestructure"]
	path = src/filestructure
	url = git@github.com:Chatsiri/filestructure.git
